@font-face {
	font-family: 'CustomFont';
	src: url('./assets/fonts/DS-DIGI.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

@font-face {
	font-family: 'Neuropol';
	src: url('./assets/fonts/Neuropol.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}